.container {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.donation-progress {
  text-align: center;
  margin: 20px 0;
  transition: background-color 0.3s ease;
}

.donation-item {
  margin: 10px 0;
  font-size: 16px; 
  font-weight: bold;
}

.donation-item p {
  font-size: 14px; 
}

.progress-bar {
  width: 100%;
  height: 30px;
  background-color: #f0f0f0;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.item-header {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Adjust this as needed */
}

.item-header p {
  margin-right: 10px; /* Space between the paragraph and button */
}

.progress-fill {
  height: 100%; 
  border-radius: 5px;
}

.custom-fraction-text {
  color: black;
}

.subscribe-text {
  font-size: 16px; 
}

.help1, .help2, .help3 {
  position: relative;
  display: inline-block;
}

.helpText1, .helpText2, .helpText3{
  display: none;
  position: absolute;
  transform: translateX(20%) translateY(-20%);
  height: 50px;
  width: 200px;
  background-color: #faf0e6;
  border: 1px solid black;
  padding: 4px;
  border-radius: 5px;
  box-shadow: 2 black;
}

.progress-div, .email-phone-form, .announcement-board {
  border-radius: 5px;
}

.popup {
  position: fixed;
  width: 300px;
  background: white;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 5px rgba(0,0,0,0.2);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

}

.close {
  float: right;
  cursor: pointer;
}

.info-button {
  background: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  color: #1f92e4;
  font-size: 10px; 
  width: 50px; 
  height: 30px; 
     
}

